
div{
margin-left: auto;
margin-right: auto;
height: 100px;
line-height: 100px;
white-space: nowrap;




}


body {

color: blue;

}


Menu{
background.color:#000000;
height:40px;
}
Menu ul{
margin:0;
}
Menu li{
display:inline-block;
margin-top:10px;
padding-right:30px;
}
