
body{
margin-left: auto;
margin-right: auto;
height: 100px;
line-height: 100px;
white-space: nowrap;




}


body {

color: blue;

}


body{
background.color:#000000;
height:40px;
}
body{
margin:0;
}
body{
display:inline-block;
margin-top:10px;
padding-right:30px;
}
